img {
    width: 100%;
}

.menu {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: white;
}

.menu .logo {
    width: 180px;
}

.menu .navicon {
    width: 30px;
}

.menu nav {
    display: none;
}

.menu ul {
    display: flex;
    margin: 0;
    list-style: none;
}

.menu a {
    color: inherit;
    margin-left: 20px;
    text-decoration: none;
}

section {
    padding: 200px 80px;
}

@media screen and (min-width: 992px) {

    .menu .navicon {
        display: none;
    }

    .menu nav {
        display: block;
    }
}